/*Asigno a los input con id fondoamarillo el color de fondo amarillo */
.fondoamarillo:focus {
    background-color: yellow;
}

/* Creo las características del div que aparecerá al hacer clic en el botón Lupa*/
#divLupa {
    width: 500px;
    height: 300px;
    border: 2px solid grey;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(176, 174, 174, 0.682);
}

/* Creo las características que tendrá el input del div que aparecerá al hacer clic en el botón Lupa*/
#inputLupa {
    background-color:rgba(28, 27, 27, 0.758);
    position: relative;
    top: 50%;
    width: 493px;
    height: 50px;
    font-size: 50px;
}

#salirlupa{
    position: relative;
    top: 50%;
    left: 50;
    transform: translate(185%,150%);
    font-size: 20px;
};